services:
  db:
    image: postgres:16.3
    container_name: decathlon-db
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: ./decathlon
    container_name: decathlon-backend
    depends_on:
      - db
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/${DB_NAME}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASSWORD}
      SPRING_FLYWAY_ENABLED: "true"
      SERVER_PORT: "8080"
    ports:
      - "8080:8080"

  frontend:
    build: ./decathlon-ui
    container_name: decathlon-frontend
    depends_on:
      - backend
    ports:
      - "4200:80"

volumes:
  pgdata:
