spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/decathlon
    username: decathlon
    password: decathlon

  flyway:
    enabled: true
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: mappings